.whiteCenterThingy{
	width:1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

@font-face {
    font-family: fridge;
    src: url("../Fonts/alpha_fridge_magnets/AlphaFridgeMagnetsAllCaps.ttf");
}

@font-face {
    font-family: fridgePoetry;
    src: url("../Fonts/andada/Andada-Regular.otf");
}


.spriteImg{

	position: absolute;
	left: 0px;
	top: 0px;
}

#header{
	font-size: 25px;
	font-weight: bold;
	margin-left: -25px;
}

.spriteImgNoLayers{

}

.spriteParent{
	width: 400px;
	height: 300px;
	display: inline-block;
	position: relative;
	border: 1px solid black;
}

.spriteParentNoSize{
	display: inline-block;
	position: relative;
	border: 1px solid black;
}

body{
	background-image: url("../images/Skaia_Clouds.png");
}
.intro{
	width:885px;
}


.void{
	display: none;
	background-color: #000066;
	color: #ffffff;
}

.fridgeInside{
	background-color: #aaaaaa;
	border-radius: 15px;
	padding: 100px;
	padding-top: 50px;
}


.fanLinks{
	background-color: #888888;
    font-family: 'fridge', sans-serif;
	border-radius: 15px;
	z-index: 13;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #cc87e8;
	width:300px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	text-align: center;
	vertical-align: top;
	font-size: 25px;
}

.fridgePoetryBox{
    border: 1px solid black;
    background-color: white;
    padding: 3px;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.image {
    position:relative;
    max-height:194px;
    max-width:594px;
    vertical-align:middle;
    top:50%;
    transform:translate(0,-50%)
}

.imageTile, .headTile {
    height:194px;
    display:inline-block;
    vertical-align:top;
    position:relative;

    border:1px solid black;
    margin:20px;
}

#images {
}

.imagename, .imagename_always {
    box-sizing:border-box;
    position:absolute;
    display:block;
    top:0;
    width:100%;
    height:100%;
    padding:4px;
    word-break:break-all;

    color:white;
    text-shadow:1px 0px 0 black, -1px 0px 0 black, 0px -1px 0 black, 0px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 4px black, 0 0 5px black, 0 0 6px black;
    pointer-events:none;
}

.imagename {
    opacity:0;
}

.imageTile:hover > .imagename {
    opacity:1;
}

.fanLinks > a {
    display:inline-block;
    white-space: nowrap;
    margin:3px 6px 3px 6px;
    font-family: 'fridgePoetry',serif;
    display: block;
    padding: 5px;

}

.head > img {
    display:block;
    position:absolute;
    top:-10px;
    left:-100px;
}

/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #000000;
    background-color: yellow;
    text-decoration: none;
}

.headTile {
    width:244px;
    height:244px;
    overflow:hidden;
}

.filter {
    display:block;
    width:200px;
    margin:25px auto 5px auto;
}

.fridgeHeader{
    font-size: 32px;
    text-shadow: 3px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;


}